body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
    margin: 30px;
    background-color: #f1ecec;
    margin: justify ;
    padding: 3rem;
    
}

.header {
    background: #1a91d6;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.header__title {
    margin: 0;
}

h2{
   color: #524c4c;
}

h3{
    color: rgb(42, 18, 150);
    border: 3px solid rgb(122, 7, 133); 
    padding: 8px; 
    display: inline-block;
    background-color: rgb(255, 255, 255);
}
.main-content {
    padding: 1rem;
    margin: auto;
    text-align: justify;
}

.section {
    margin-bottom: 1rem;
    text-align: justify;
}

.section__title {
    color: #000000;
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
    text-align: center;
}

.section__text, .section__list {
    margin: 1rem 0;
    text-align: justify;
}

.section__list-item {
    margin-bottom: 0.5rem;
}


.footer {
    background: #1a91d6;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.footer__text {
    margin: 0;
    color: #fff;
}

p {
    padding: 1rem;
    color: #000000;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    margin: justify;
}

.img__1{
    width: 350px;
    height: 300px;
    display: inline;
    justify-content: center;
    align-items: center;
    margin: 0x;
    padding: 2rem 5rem;
    box-shadow: 0 0 15px 15px rgba(10, 80, 209, 0.521); 
    
}

.img__2{
    width: 350px;
    height: 300px;
    display: inline;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 2rem 6rem;
    box-shadow: 0 0 15px 15px rgba(255, 0, 0, 0.5); 
}

.img__3{
    width: 350px;
    height: 300px;
    display: inline;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 2rem 10rem;
    box-shadow: 0 0 15px 15px rgba(10, 80, 209, 0.521);
}

.img__4{
    width: 350px;
    height: 450px;
    display: inline;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0rem 3rem;
    box-shadow: 0 0 15px 15px rgba(10, 80, 209, 0.521);
}

.img__5{
    width: 350px;
    height: 300px;
    display: inline;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 2rem 10rem;
    box-shadow: 0 0 15px 15px rgba(134, 8, 207, 0.5);
}

.img__6{
    width: 350px;
    height: 450px;
    display: inline;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0rem 3rem;
    box-shadow: 0 0 15px 15px rgba(9, 212, 118, 0.521);
}